JVAULT_BASE_URL=https://jvault.aerialstudio.tech/
JVAULT_API_KEY=jv_59c80af7ea55b398e7e4ebaeb14eb5d6dc88772dd7245a8cb432c1d7f16a
JVAULT_BIN_ID=255feaaa-e64c-4b4e-b2de-5f2ec0ee54b3
JWT_SECRET=jojobot-super-secret-key-ganti-di-production-12345
ADMIN_USERNAME=admin
ADMIN_PASSWORD=35151278
# Google OAuth (isi dari Google Cloud Console -> Credentials -> OAuth client ID)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Opsional: paksa redirect URI tertentu. Kalau kosong, otomatis ikut domain aplikasi.
# GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
